@import "./shared.scss";

.about {
  flex-grow: 1;

  .container {
    margin-bottom: 30px;
    border-bottom: solid 1px #cccccc;
    padding-bottom: 45px;

    p {
      font-size: 18px;
      line-height: 26px;
    }

    &:last-child {
      border-bottom: none;
    }

    &.experience p, &.education p {
      margin: 7px 0;
    }

    &.education a {
      color: #000000;
      &:hover {
        color: $primary-color;
        transition: 0.3s;
      }
    }
  }

  h1 {
    margin-bottom: 20px;
  }
}