@import "./shared.scss";

footer {
  width: 100%;
  padding: 10px 0;

  .footer-icon {
    font-size: 48px;
    color: $primary-color;
    margin-right: 20px;

    &:hover {
      color: #333333;
      transform: scale(0.8);
      transition: 0.3s;
    }
    
    &:visited {
      color: $primary-color;
    }
  }
}