@import "./shared.scss";

.navbar {
  height: 100%;
}

.nav-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  max-width: 130px;
  //if add logo later, update height
  // height: 100%;
  height: 100px;
}

.logo img {
  width: 100%;
  margin-left: -18px;
}

.list-wrapper {
  display: flex;
  align-items: center;

  .list-icon {
    font-size: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 4;
    opacity: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 7px;
    border-radius: 999px;
    color: #000000;
    background-color: #dddddd;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  ul {
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;
    left: -100vw;
    padding-top: 140px;
    text-align: center;
    position: fixed;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);

    li {
      list-style: none;
      margin-bottom: 15px;
      font-weight: bold;
    }

    a {
      display: block;
      font-size: 24px;
      padding: 10px 0;
      color: #aaaaaa;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #000000;
      }
    }
  }
}

@media (min-width: 800px) {
  .list-wrapper {
    .list-icon {
      display: none;
    }

    ul {
      padding: 0;
      width: 100%;
      height: 100%;
      text-align: left;
      position: relative;
      background-color: transparent;

      li {
        display: inline-block;
        margin-bottom: 0;

        &:not(:last-child) {
          margin-right: 18px;
        }
      }

      a {
        padding: 5px;
        color: #aaaaaa;

        &:hover {
          padding: 5px;
          color: #333333;
          transform: scale(0.8);
          background: transparent;
        }
      }
    }
  }
}