@import "./shared.scss";

.project {
  flex-grow: 1;
  min-width: 100%;

  h1 {
    margin-bottom: 20px;
  }

  .container {
    margin: 0;
    padding: 0;

    .project-card {
      margin-right: 40px;
      margin-bottom: 40px;
      width: 100%;

      .coverphoto {
        width: 100%;
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
        height: 300px;
        border: solid 1px #cccccc;
      }

      h3 {
        margin: 8px 0;
      }

      a {
        color: #000000;
        &:hover {
          color: $primary-color;
          transition: 0.3s;
        }
      }

      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
}

@media (min-width: 1030px) {
  .project {
    .container {
      .project-card {
        width: 45%;
        float: left;
      }
    }
  }
}